language: php
php:
- 8.3
cache:
  directories:
  - "$HOME/.composer/cache"
env:
  matrix:
  - SLIM_VERSION="4.13.*"
  global:
    secure: SPEJYkIdZeNIsp/13IrAmPUHcKRbWb6sl3H7hIcKjV3oIdnu5u5i0xo7eONmslvS+DWTMwhvpCJaALca6Eec6UEQVjLdG3AnfJvVFZgn7pHSEoSUAv2A3TzxWzRVezrAxOvzt6TnP4aMJENnDDnx3PykFfGt6kAHF+JbHpkLx6zZ24qgF32dD2XJREudbemFdLNVjDlrEEFqEOpTF8mxwy2Eq779bkbtXR6OCWtsH7xAh9CArPZWP8KnS9lHFI3D0iRWZKfEsgdxGaQtreSRcX9rRYwuSHUccHgGkib4lZqCutuECE2+Moa8u1o5a1DuXrKBw/OECGh4M4oIgvNlwNMp80cHd0HiuH5fcHlpodfYLzq21PHgvl2iamiGuS54bzZrNM8+ep2hxZOQEcWjT27G//WHgyvZ7pUCEq8AfElDlGDaz7MpkRVf6Tp755AB7FnA6RnBybyw+8fQNYxdiKmoSIJIGHXJfcubiYWe2IeeIz++RuJ5CWLxWsTly4m7d18uQvEtcj++UuMCBkbDCjjXwzOVQCyDk6bseatgPZ6xB3IgEeM64Y/e1jH/XezWCd5hjQDILecqffJYAibkfzQjtKcON/aKSYrbo2w+Wb0Mvu3NQuJL+0REq7oVNOcAoSd2ApADD6pUOcB8WxVZPfx5gG19Kl6MdfpKH+UCAls=
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
before_install:
- phpenv config-rm xdebug.ini
install:
- composer require slim/slim:${SLIM_VERSION} # This will also install dependencies
script:
- "./vendor/bin/phpstan analyse"
- php vendor/bin/phpunit
- "./vendor/bin/phpcs"
- "./vendor/bin/security-checker security:check"
after_success:
- "php -d memory_limit=1000m ./vendor/bin/apigen generate src --destination docs"
addons:
  artifacts:
    s3_region: us-east-1
    target_paths: "$TRAVIS_REPO_SLUG/$TRAVIS_BRANCH"
    paths:
    - "./docs"
notifications:
  slack:
    rooms:
      secure: mV51mlAVF1Ilq2K/Z2Pl8M1gfmW1eska38Y0MpqgaJV938BeBUjdDt/ckyqPtHK6w4dw35xEYR1ImjqBNTcBGEIGvAn5HDsLYCpmF7PjDCqFIxNn6d/nxGbUgydefogqYFq9DMo6W7dRzpBS6XuGFR7f3x/rSCUeNysw9DR5qI2NR3WHKFNN7XF1r/Sgr3JX1gnP1Kb7MKz9aN95wGUE+kTzSPlIBfGv5SrmAPgBsqaIZ0LsiqdhFoBADBFFF3Bvk8mNGnlPhW3hTYtFnfGWHzVCly9/QDWh5PJtHsAQXt2oW3tR9DrIKJpgon2xIc+PbA7uWxrhAu78B20dXHiTqH0rltvTNDiYiMZi2hCkQj04jMlVLZQVVr0NhChLFbEtf0rM1lrs3+psUBLFO0kmrzaX8e6cbIQOgh4jh772LPsCNYE5by7qU/RWFr10+sAggSwAERq+0bJPp5huoMynXfNuqr07HPynD3lFmP3RbgIKEWpF3nPZQFvkVSYNW8O0xH6NjoB6eyOQVyfQKrJOiNK+wxE0en0H6I+w/0L/QoopMStrLs2j1cPj26I3EbkhYt964bkSEYf3vJfA9kb884/9Lk2kR3e3HzIAkOMpClhTli/yqEfEovxNKQqt0awS8LrI5Z9PUbQ05uoRa/BsZcNpX7NEQ+U84K6jOT7/eZI=
  on_success: change
  on_failure: always
after_script:
- "php ./docversions.php"
